body {
  margin:0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background:#f8fafc;
  color:#0f172a;
}

.hero {
  background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
  url('https://picsum.photos/1200/500');
  color:white;
  text-align:center;
  padding:120px 20px;
}

.btn {
  display:inline-block;
  background:#16a34a;
  color:white;
  padding:14px 28px;
  border-radius:30px;
  text-decoration:none;
  margin-top:15px;
}

.menu {
  background:#0f172a;
  text-align:center;
  padding:15px;
}

.menu a {
  color:white;
  margin:15px;
  text-decoration:none;
  font-weight:600;
}

section {
  padding:60px 20px;
  text-align:center;
}

#gallery img {
  width:280px;
  margin:12px;
  border-radius:15px;
}

input, textarea {
  width:90%;
  max-width:400px;
  padding:12px;
  margin:10px;
  border-radius:8px;
  border:1px solid #cbd5f5;
}

button {
  background:#16a34a;
  color:white;
  padding:12px 26px;
  border:none;
  border-radius:25px;
  cursor:pointer;
}

footer {
  background:#0f172a;
  color:white;
  text-align:center;
  padding:15px;
}
