body {margin:0;font-family:Arial;background:#f1f5f9;}
.hero {background:url('https://picsum.photos/1200/500');color:white;text-align:center;padding:100px;}
.btn {background:#16a34a;color:white;padding:15px 25px;border-radius:5px;text-decoration:none;}
.menu {background:#1e293b;text-align:center;padding:15px;}
.menu a {color:white;margin:15px;text-decoration:none;font-weight:bold;}
section {padding:50px;text-align:center;}
img {margin:10px;border-radius:10px;}
footer {background:#1e293b;color:white;padding:15px;text-align:center;}
input, textarea {width:80%;padding:10px;margin:10px;}
button {padding:12px 20px;background:#16a34a;color:white;border:none;border-radius:5px;}
